:root{
    --primary:#eb5730;
    --primary1:#f77b5b;
    --dark:#020202;
    --light:#7a7a7a;
    --white:#fff;
    --lightbg:#f6f6f6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

body::-webkit-scrollbar {width: 8px;}
body::-webkit-scrollbar-thumb {background: var(--primary); border-radius: 4px;}

.herosection{
    background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80'), var(--lightbg);
    background-size: 100%;
    padding: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 30px auto;
    max-width: 1900px;
    border-radius: 50px;
    background: var(--white);
}
.logo h2 span{
    color: var(--primary);
}
.NavBar ul li{
    list-style: none;
    float:  left;
    padding-left: 2.8rem;
}

.NavBar ul li a{
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    font-size: 1.2rem;
}

.NavBar ul li a:hover{
    color: var(--primary);
}

.contact{
    padding: 0.6rem 1.2rem;
    background: var(--dark);
    color: var(--white);
    border-radius: 50px;
    border: none;
    transition: 0.3s ease-in-out;
}

.contact:hover{
    background: var(--primary);
}
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}
.hamburger span{
    width: 25px;
    height: 3px;
    background: var(--dark);
    border-radius: 5px;
    transition: 0.3s ease;
}

.mainHeading{
    text-align: center;    
}
.mainHeading p{
    font-size: 1.6rem;
    padding-top: 50px;
}
.mainHeading h1{
    font-size: 3.5rem;
}
.mainHeading h1 span{
    color: var(--primary);
    font-weight: 4000;
    font-style: italic;
}
.subheading{
    margin-top: -42px!important;
    font-size: 19px !important;
    color: var(--light)
}

.heroContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.review{
    flex: 1 1 400px;
}
.testimonial-card{
    padding: 2rem;
    max-width: 400px;
}

.quote-icon{
    color: var(--primary);
    font-size: 3rem;
    line-height: 0.8;
    font-family: 'FontAwesome';
}
.testimonial-text{
    font-size: 18px;
    color: var(--light);
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 2rem;
}
.avatars{
    display: flex;
    margin-bottom: 1rem;
}

.avatars img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    margin-left: -12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.avatars img:first-child{
    margin-left: 0;
}
.review-summary{
    font-size: 18px;
    font-weight: 400;
    color: var(--light);
}
.review-summary .rating{
    color: var(--dark);
}
.subtext{
    font-size: 16px;
    color: var(--light);
    margin-top: 4px;
}
.heroProfile{
    position: relative;
    text-align: center;
}
.heroProfile img{
    flex: 1 1 400px;
    width: 500px;
    z-index: 999;
    position: relative;
}
.shape{
    background: linear-gradient(45deg, var(--primary) 0%, var(--primary1 100%));
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 40% 60% / 40% 60% 40% 60%;
    height: 500px;
    transition: all 1s ease-in-out;
    width: 500px;
    z-index: 1;
    right: 0;
    bottom: 0;
    position: absolute;
}
@keyframes morph{
    0% {
        border-radius: 60% 40% 40% 60% / 40% 60% 40% 60%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--primary1) 100%);}
 
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background: linear-gradient(45deg, var(--primary1) 0%, var(--primary) 100%);}
        
    100% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--primary1) 100%);}
}
.rotating-badge{
    position: absolute;
    width: 150px;
    height: 150px;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 10s linear infinite;
    top: 200px;
}
.badge-svg{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spinRevrse 20s linear infinite;
}
.badge-icon{
    font-size: 32px;
    z-index: 1;
    transform: rotate(-15deg);
    color: var(--primary);
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes spinRevrse {
    from {transform: rotate(360deg);}
    to{transform: rotate(0deg);}
}
.heroButton{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 300px;
    background: var(--white);
    z-index: 999;
    border-radius: 45px;
}
.profileBtn,
.hireBtn{
    padding: 10px 35px;
    background: var(--primary);
    color: var(--white);
    border-radius: 25px;
    border: 2px solid var(--primary);
    outline: 2px solid transparent;
    font-size: 1.1rem;
    transition: 0.4s ease-in-out;
}
.hireBtn{
   background: var(--white);
   color: var(--primary);
}
.profileBtn:hover{
    background: var(--white);
    color: var(--primary);
}
.hireBtn:hover{
    background: var(--primary);
    color: var(--white);
}
.socialIcons{
    flex: 1 1 400px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tags{
    width: 350px;
    margin: 0 auto;
}
.tag,.tag1{
    padding: 0.6rem 1.2rem;
    background: var(--dark);
    color: var(--white);
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;
}
.tag1{
    background: var(--primary);
}
.icons{
    width: 350px;
    margin: 30px auto;
}
.icons i{
    font-size: 30px;
    background: var(--white);
    margin: 10px 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 1.8;
    text-align: center;
    transition: 0.4s ease-in-out;
}
.icons i:hover{
    background: var(--primary);
    color: var(--white);
}
.our-scrolling-ticker{
    position: relative;
    background: var(--dark);
    padding: 25px 0;
    z-index: 1;
    margin-top: -36px;
}
.scrolling-ticker-box{
    --gap: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    user-select: none;
    gap: 15px;
    align-items: center;
}
.scrolling-content{
    flex-shrink: 0;
    display: flex;
    gap: 15px;
    min-width: 100%;
    animation: scroll 40s linear infinite;
}
.scrolling-content span{
    display: inline-block;
    font-family: math;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2rem;
    color: var(--white);
    vertical-align: middle;
}
.scrolling-content span img{
    max-width: 26px;
    margin-right:  15px;
    margin-bottom: -2px;
}
@keyframes scroll {
    from {transform: translateX(0);}
    to {transform: translateX(calc(-100% - var(--gap)));}
}
.heading{
    color: var(--primary);
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.heading2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.heading2 span{
    color: var(--primary);
}


.toolSection{
    background: var(--lightbg);
}

.tool-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.tools-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}

.tool-card{
    background: var(--white);
    border-radius: 40px 40px 20px 20px;
    padding: 20px 20px 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-out;
}

.tool-card:hover{
    background: #f77b5b;
}

.tool-icon{
    background: var(--lightbg);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.tool-icon img{
    width: 40px;
    height: 40px;
}
.tool-percent{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.tool-name{
    font-size: 14px;
    color: #555;
}

.about-card{
    padding:  2rem;
    max-width:  1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin:  50px auto;
    align-items: center;
}

.about-left{
    flex: 1 1 400px;
    position: relative;
    text-align: center;
}

.about-left .bg-shape{
    background: var(--primary);
    border-radius: 50% 50% 0 0;
    width: 100%;
}